* {
  box-sizing: border-box;
}
div.details {
  margin: 1em 0;
}
div.details div.title {
  font-weight: 800;
  margin: 0 0 0.3em;
}
div#search-container {
  padding: 1em;
}
div#search-container input {
  border: 0;
  border: 1px solid gray;
  border-radius: 999px;
  padding: 0 1em;
  width: 100%;
}
.list-group-item {
  color: #444;
}
.list-group-item:hover {
  color: #FFF;
  background: #4C9ED9;
  cursor: pointer;
}
